<p id="notice"><%= notice %></p>

<% @state = "to_do", @state_title = "To Do" %>
<%= render 'list_tasks_by_state' %>

<% @state = "doing", @state_title = "Doing" %>
<%= render 'list_tasks_by_state' %>

<% @state = "done", @state_title = "Done" %>
<%= render 'list_tasks_by_state' %>

<br>

<%= link_to 'New Task', new_task_path %>
