<p id="notice"><%= notice %></p>

<div class="row">
  <% @state = "to_do", @state_title = "To Do" %>
  <%= render 'display_tasks_by_state' %>

  <% @state = "doing", @state_title = "Doing" %>
  <%= render 'display_tasks_by_state' %>

  <% @state = "done", @state_title = "Done" %>
  <%= render 'display_tasks_by_state' %>
</div>

<br>
<%= link_to 'New Task', new_task_path %>
